@import "./cards/card.scss";

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    gap: 2rem;
    .containerHeader {
        padding-top: 2rem;
        height: max-content;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        .header {
            height: max-content;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, auto));

            justify-items: center;
            align-items: center;
            gap: 2rem;
            #headerImg {
                width: 15rem;
                height: 15rem;
                background-color: gray;
            }
            #headerText {
                height: max-content;
                display: grid;
                justify-content: center;
                gap: 2rem;
                h1 {
                    color: rgb(41, 41, 87);
                }
            }
        }
    }
    .containerTextCard {
        position: relative;
        height: max-content;
        width: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        .containerTextCardBackground {
            position: absolute;
            z-index: -1;
            height: 15rem;
            width: 100%;
            background-color: black;
        }

        h1,
        p {
            color: white;
        }
        .containerText {
            width: 50%;
            text-align: center;
        }
    }

    .containerArticle {
        width: 100%;
        height: max-content;
        display: grid;
        justify-items: center;

        .containerTextImg {
            width: 80%;
            height: max-content;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
            gap: 3rem;

            .articleText {
                display: grid;
                align-items: center;
                gap: 2rem;
            }
            .articleImg {
                min-height: 20rem;
                background-color: gray;
            }
        }
    }

    .containerNewArticle {
        position: relative;
        width: 100%;
        height: max-content;
        display: grid;
        justify-items: center;
        gap: 2rem;
        p,
        h1 {
            color: white;
            -webkit-text-stroke: 0.02rem rgb(0, 0, 0);
        }
        .newArticleBackgroung {
            position: absolute;
            width: 100%;
            height: 15rem;
            background-color: black;
            z-index: -1;
        }
        .newArticle {
            background: url("../../image/chatd.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            display: grid;
            justify-items: center;
            align-items: center;
            min-height: 25rem;
            height: max-content;

            width: 80%;
            border: solid gray 1px;
            box-shadow: black 0px 0px 10px;
            .articleText{
                width :80%;
                display: grid;
                gap: 2rem;
                .articleButton{
                    width :100%;
                    display: grid;
                    justify-content: end;
                    button{
                        width: 5rem;
                        height: 2rem;

                    }
                }
            }
        }
    }
}
