.containerTextCard {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 2rem;
}

.containerTextCard .cardButton {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 2rem;
}

.containerTextCard .cardButton button {
  width: 8rem;
  color: white;
  background-color: #383838;
}

.containerTextCard .containerTextCardBackground {
  position: absolute;
  z-index: -1;
  height: 15rem;
  width: 100%;
  background-color: black;
}

.containerTextCard h1,
.containerTextCard p {
  color: white;
}

.containerTextCard .containerText {
  width: 50%;
  text-align: center;
}

.containerTextCard .containerCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 2rem;
}

.containerTextCard .containerCard .card {
  background-color: #ebebeb;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  border: solid 1px gray;
  -webkit-box-shadow: black 0px 0px 10px;
          box-shadow: black 0px 0px 10px;
}

.containerTextCard .containerCard .card div {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.containerTextCard .containerCard .card .cardImgBackground {
  height: 15rem;
  background-color: black;
}

.containerTextCard .containerCard .card h1,
.containerTextCard .containerCard .card p {
  width: 80%;
  height: 70%;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.container .containerHeader {
  padding-top: 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .containerHeader .header {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.container .containerHeader .header #headerImg {
  width: 15rem;
  height: 15rem;
  background-color: gray;
}

.container .containerHeader .header #headerText {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.container .containerHeader .header #headerText h1 {
  color: #292957;
}

.container .containerTextCard {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 2rem;
}

.container .containerTextCard .containerTextCardBackground {
  position: absolute;
  z-index: -1;
  height: 15rem;
  width: 100%;
  background-color: black;
}

.container .containerTextCard h1,
.container .containerTextCard p {
  color: white;
}

.container .containerTextCard .containerText {
  width: 50%;
  text-align: center;
}

.container .containerArticle {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.container .containerArticle .containerTextImg {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 3rem;
}

.container .containerArticle .containerTextImg .articleText {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.container .containerArticle .containerTextImg .articleImg {
  min-height: 20rem;
  background-color: gray;
}

.container .containerNewArticle {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.container .containerNewArticle p,
.container .containerNewArticle h1 {
  color: white;
  -webkit-text-stroke: 0.02rem black;
}

.container .containerNewArticle .newArticleBackgroung {
  position: absolute;
  width: 100%;
  height: 15rem;
  background-color: black;
  z-index: -1;
}

.container .containerNewArticle .newArticle {
  background: url("../../image/chatd.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80%;
  border: solid gray 1px;
  -webkit-box-shadow: black 0px 0px 10px;
          box-shadow: black 0px 0px 10px;
}

.container .containerNewArticle .newArticle .articleText {
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.container .containerNewArticle .newArticle .articleText .articleButton {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container .containerNewArticle .newArticle .articleText .articleButton button {
  width: 5rem;
  height: 2rem;
}
/*# sourceMappingURL=index.css.map */