.containerTextCard {
    position: relative;
    height: max-content;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 2rem;

    .cardButton {
        width: 80%;
        display: grid;
        justify-content: start;
        padding-bottom: 2rem;

        button {
        width: 8rem;
        color: white;
        background-color: rgb(56, 56, 56);
        }
    }
    .containerTextCardBackground {
        position: absolute;
        z-index: -1;
        height: 15rem;
        width: 100%;
        background-color: black;
    }

    h1,
    p {
        color: white;
    }
    .containerText {
        width: 50%;
        text-align: center;
    }

    .containerCard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
        gap: 2rem;
        .card {
            background-color: rgb(235, 235, 235);
            width: 100%;
            height: max-content;
            display: grid;
            gap: 2rem;
            border: solid 1px gray;
            box-shadow: rgb(0, 0, 0) 0px 0px 10px;
            div {
                display: grid;
                justify-items: center;
                align-items: center;
                gap: 2rem;
            }
            .cardImgBackground {
                height: 15rem;
                background-color: black;
            }
            h1,
            p {
                width: 80%;
                height: 70%;
                color: rgb(0, 0, 0);
            }
        }
    }
}
