* {
  margin: 0;
  padding: 0;
}

.container-serverList {
  display: flex;
}
.container-serverList ul {
  list-style: none;
}
.container-serverList .serverList {
  background-color: #202225;
  width: 52px;
  display: flex;
  justify-content: center;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-serverList .serverList::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}
.container-serverList .serverList::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}
.container-serverList .serverList::-webkit-scrollbar-thumb {
  background-color: #242424;
  /* color of the scroll thumb */
  border-radius: 1px;
  /* roundness of the scroll thumb */
}
.container-serverList .serverList .accueil {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  background-color: #5865f2;
  border-radius: 15px;
  display: flex;
}
.container-serverList .serverList .accueil i {
  margin: auto;
  color: white;
  font-size: 25px;
}
.container-serverList .serverList .separate {
  margin: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 38px;
  height: 1px;
  background-color: gray;
}
.container-serverList .serverList li .groupe {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 100%;
  transition: linear 0.15s;
  display: flex;
  align-items: center;
}
.container-serverList .serverList li .groupe::before {
  margin-left: -20px;
  content: " ";
  width: 13px;
  height: 0px;
  background-color: white;
  border-radius: 25px;
  transition: linear 0.15s;
  opacity: 0;
}
.container-serverList .serverList li .groupe:hover {
  border-radius: 15px;
}
.container-serverList .serverList li .groupe:hover::before {
  content: " ";
  width: 13px;
  height: 25px;
  opacity: 1;
}

.search {
  position: fixed;
  display: flex;
  top: 0px;
  width: 240px;
  height: 50px;
  background-color: #36393f;
  box-shadow: 0px 1px 3px 0px #2c2c2c;
  z-index: 1;
}
.search button {
  color: #9c9c9c;
  background-color: #202225;
  border: none;
  margin: auto;
  padding-left: 10px;
  height: 30px;
  width: 180px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friendList {
  background-color: #36393f;
  width: 240px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.friendList::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}
.friendList::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}
.friendList::-webkit-scrollbar-thumb {
  background-color: #242424;
  /* color of the scroll thumb */
  border-radius: 1px;
  /* roundness of the scroll thumb */
}
.friendList li {
  margin-left: 5px;
}
.friendList li div {
  margin-right: 10px;
  margin-left: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  color: #9c9c9c;
  align-items: center;
  font-size: 17px;
  white-space: nowrap;
}
.friendList li div i {
  margin-left: 10px;
  margin-right: 20px;
  justify-content: space-around;
}
.friendList li .contactFriend:hover, .friendList li .friends:hover, .friendList li .nitro:hover {
  background-color: rgba(255, 255, 255, 0.438);
}
.friendList li .contactFriend div, .friendList li .friends div, .friendList li .nitro div {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: black;
}
.friendList a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.friendList .cross {
  display: flex;
  position: relative;
  width: 250px;
  height: 50px;
}
.friendList .cross div {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 2px;
  height: 10px;
  background-color: white;
  border: none;
}
.friendList .cross div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  transform: translate(-40%, 0);
  background-color: white;
}
.friendList .cadreInfoUser .infoUser {
  position: fixed;
  width: 230px;
  height: 50px;
  padding-left: 10px;
  color: #9c9c9c;
  bottom: 0px;
  background-color: #292b2f;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.friendList .cadreInfoUser .infoUser .bulleInfoUser {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: black;
}

@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url();
}

/*# sourceMappingURL=index.css.map */
